extends include/layout

block content
    if item
        form(method='POST')
            .row
                .col-sm-10
                    .fill

                .col-sm-2
                    if item.Status == "Reserved"
                        a(class="btn btn-warning btn-lg") Reserved
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                    else if item.Status != "Available"
                        a(class="btn btn-danger btn-lg") Not available
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                    else if edit
                        button(class="btn btn-info btn-lg" type="submit"  formaction="/auth/update-item/" + item.Listing_ID) Update
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                    else if ownItem
                        a(class="btn btn-info btn-lg" type="button" href="/item/" + item.Listing_ID + "/edit") Edit
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                    else if authenticated
                        button(class="btn btn-info btn-lg" id="claim" type="submit" formaction="/auth/claim-item/" + item.Listing_ID) Claim
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                    else

                        a(class="btn btn-info btn-lg" type="button" href="/login") Claim
                            if item.Photo
                                img(src="/images/profiles/"+item.Photo style="height: 46px")
                            else

                                img(src="/images/profiles/none.png"+item.Photo style="height: 46px")
                br
                br
                br
                .row
                    .col-sm-12
                        if edit
                            .row
                                .col-sm-2
                                    h1 Title
                                .col-sm-10
                                    input.form-control(type="text", name="Title", value=item.Title)
                            .row
                                .col-sm-2
                                    p Expires
                                .col-sm-10
                                    input.form-control(type="date", name="Expiry", value=item.Expiry.toISOString().slice(0, 10))
                        else

                            h1= item.Title
                            p= "Expires: " + prettyDate(item.Expiry)

                .row
                    .col-md-8
                        h2 Description
                        if edit
                            input.form-control(type="text", name="Description", value=item.Description)
                            input.form-control(type="text", name="Tags", value="Tag1, tag2")
                        else

                            if item.Description
                                p= item.Description
                            else

                                p No description.
                            p list of tags
                    .col-md-4
                        if edit
                            p Replace image
                            .control-group
                                input#pictureUpload.form-control(type='file' name="img")
                            script(src="/js/imageUpload.js")
                        if item.Image
                            img(src="/images/listings/"+item.Image style="height: 200px")
                        else

                            p No image for this item

                if ownItem && !edit
                    .row
                        h3 collection offers
                    .row
                        if item.Status == "Available"
                            p No offers yet!
                        else if item.Status == "Reserved"
                            p= "This item has been claimed by user with id " + item.Collector_ID
                        else if item.Status == "Collected"
                            p= "This item has been collected by the user with id " + item.Collector_ID
                        else if item.Status == "Expired"
                            p= "This item has expired and so can no longer be claimed"

    else

        .row
            .col-md-12
                p No item with this id
